SECRET_KEY=django-insecure-htpfc=n8xp2ojb@gdk*bz5!ix*@v$3p7ao_biz6_%w$wixz0qf
DEBUG=True
ALLOWED_HOSTS="localhost 127.0.0.1 [::1]" 
POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123456
POSTGRES_DB=estate
PG_HOST=localhost
PG_PORT=5432